<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/jpg" href="http://i.imgur.com/S7JAgIN.jpg" />
    <title>RUNRUN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>



</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="http://i.imgur.com/S7JAgIN.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
    </nav>

    <div id="app">
        <div class="container-fluid" style="margin-top:50px">
            <div class="container">
                <div class="row justify-content-md-center ">

                    <div class="col-md-auto center-block ">
                        <div class="card text-center" style="width: 29.7rem;">
                            <h5 class="card-header">Tile Board</h5>

                            <div class="btn-group" role="group" aria-label="Basic example"
                                v-for="(tileRow, tileRowIndex) in tileBoard">
                                <button type="button" class="btn btn-light" v-for="(tile, tileIndex) in tileRow"
                                    v-on:click="Vue.set(tileRow, tileIndex, tileSelected)">[[ tileRow[tileIndex]
                                    ]]</button>
                            </div>

                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">Options</label>
                                    </div>

                                    <select class="custom-select" v-model="tileSelected">
                                        <option v-for="tileOption in tileOptions" v-bind:value="tileOption.value">
                                            [[ tileOption.text ]]
                                        </option>
                                    </select>

                                </div>

                                <span>Selected: [[ tileSelected ]]</span>

                            </div>

                        </div>
                    </div>

                </div>

                <hr class="my-4">

                <div class="row justify-content-md-center ">

                    <div class="col-md-auto center-block">
                        <div class="card text-center" style="width: 25.5rem;">
                            <div class="card-header">
                                <h5>Obstacle Board</h5>

                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" v-on:click="addObstacleBoard" class="btn btn-light">+</button>
                                    <button type="button" v-on:click="removeObstacleBoard"
                                        class="btn btn-light">-</button>
                                </div>
                            </div>

                            <div v-for="(obstacleBoard, obstacleBoardIndex) in obstacleBoards">

                                <strong><em>[[ obstacleBoardIndex ]]</em></strong>

                                <div class="btn-group" role="group" aria-label="Basic example"
                                    v-for="(obstacleRow, obstacleRowIndex) in obstacleBoard">
                                    <button type="button" class="btn btn-light"
                                        v-for="(obstacle, obstacleIndex) in obstacleRow"
                                        v-on:click="Vue.set(obstacleRow, obstacleIndex, obstacleSelected)">
                                        [[ obstacleRow[obstacleIndex] ]]
                                    </button>
                                </div>

                            </div>

                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">Options</label>
                                    </div>

                                    <select class="custom-select" v-model="obstacleSelected">
                                        <option v-for="obstacleOption in obstacleOptions"
                                            v-bind:value="obstacleOption.value">
                                            [[ obstacleOption.text ]]
                                        </option>
                                    </select>

                                </div>
                                <!-- 
                            <span>Selected: [[ obstacleSelected ]]</span> -->
                                <button type="button" v-on:click="exportToJson" class="btn btn-light">Export to
                                    JSON</button>

                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <div class="input-group mb-3">
                    <input type="text" v-model="e2j" class="form-control" placeholder=""
                        aria-label="Example text with button addon" aria-describedby="button-addon1" id="mapJsonData">

                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" v-on:click="copyToClipboard" type="button"
                            id="button-addon1">Copy To
                            Clipboard</button>
                    </div>

                </div>

                <p>Map JSON Data is: [[ e2j ]]</p>

                <hr class="my-4">
            </div>
        </div>
    </div>

    <script>
        // Vue.set(app.obstacleBoards, app.obstacleBoards.length, JSON.parse(JSON.stringify(app.obstacleBoardBase)))

        // app.obstacleBoards.push(JSON.parse(JSON.stringify(app.obstacleBoardBase)))
        // app.obstacleBoards.splice(app.obstacleBoards.length - 1, 1)

        var app = new Vue({
            el: '#app',
            data: {
                e2j: '',
                tileSelected: 0,
                tileOptions: [
                    { text: 'Empty', value: 0 },
                    { text: 'Cannot Move Tile', value: 1 },
                    { text: 'Conveyor belt', value: 2 },
                    { text: 'Door', value: 3 }
                ],
                tileBoard: [
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                ],
                obstacleSelected: 0,
                obstacleOptions: [
                    { text: 'Empty', value: 0 },
                    { text: 'Cream', value: 1 }
                ],
                obstacleBoardBase: [
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                ],
                obstacleBoards: [
                    [
                        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                    ]
                ]
            },
            methods: {
                addObstacleBoard: function () {
                    this.obstacleBoards.push(JSON.parse(JSON.stringify(app.obstacleBoardBase)))
                },
                removeObstacleBoard: function () {
                    this.obstacleBoards.splice(app.obstacleBoards.length - 1, 1)
                },
                exportToJson: function () {
                    var e2j = {
                        "T": this.tileBoard,
                        "P": this.obstacleBoards
                    }

                    this.e2j = JSON.stringify(e2j)

                    //                 alert(this.e2j)
                },
                copyToClipboard: function () {

                    var copyText = document.getElementById("mapJsonData");

                    /* Select the text field */
                    copyText.select();

                    /* Copy the text inside the text field */
                    document.execCommand("copy");

                    /* Alert the copied text */
                    alert("Copied the Map JSON Data");

                }
            },
            delimiters: ['[[', ']]']
        })
    // new Vue({ el: '#app', data: { message }, delimiters: ['[[', ']]'] });
    </script>

</body>

</html>
